<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formulario" (ngSubmit)="autenticar()">
    <ion-grid fixed>

      <ion-row>
        <ion-col>
            <ion-item>
              <ion-label position="stacked">Username</ion-label>
              <ion-input type="text" placeholder="Ingresa tu usuario" formControlName="username" ></ion-input>
            </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
            <ion-item>
              <ion-label position="stacked">Password</ion-label>
              <ion-input type="password" placeholder="Ingresa tu password" formControlName="password"></ion-input>
            </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
            <ion-item>
              <ion-label>Recuerdame</ion-label>
              <ion-toggle mode="ios" slot="end" color="warning" formControlName="activo"></ion-toggle>
            </ion-item>
        </ion-col>
      </ion-row>

    <ion-row>
      <ion-col>
        <ion-button
        type="submit"
        role="submbit"
        >
          Ingresar
        </ion-button>
      </ion-col>
    </ion-row>


  </ion-grid>
  </form>
</ion-content>

